body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative;
  background-image: url(../img/top-baner.jpg); }
  section h3,
  .main_head h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400px;
    margin-top: 0;
    margin-bottom: 40px; }

section {
  padding: 70px 0 90px; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px; }
  section .personal_header {
    font-size: 13px;
    text-align: left;
    margin-bottom: 25px;
    color: #555; }
  section .s_descr_wrap {
    text-align: center; }
    section .s_descr_wrap .s_descr {
      display: inline-block;
      text-transform: uppercase;
      font-size: 12px;
      position: relative;
      margin-bottom: 100px; }
      section .s_descr_wrap .s_descr::after {
        content: "";
        width: 150px;
        height: 1px;
        position: absolute;
        left: 50%;
        margin-left: -75px;
        top: 45px; }

.sect_tittle {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.main_head {
  min-height: 620px;
  padding-top: 20px; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 120px;
    width: 120px;
    margin-top: -60px;
    margin-left: -60px;
    left: 50%;
    top: 50%;
    position: absolute; }

.logo_container {
  float: left; }

svg {
  margin-top: 5px;
  width: 100px;
  z-index: 100;
  position: relative; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  float: right;
  position: fixed;
  right: 22px;
  top: 22px;
  z-index: 100;
  border: none;
  border-radius: 3px;
  opacity: 0.7;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .toggle_mnu span {
    display: block; }
  .toggle_mnu:hover {
    opacity: 1; }

.sandwich {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 32px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s; }

.sw-bottom {
  position: relative;
  width: 32px;
  height: 3px;
  top: 7.5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 32px;
  height: 3px;
  top: 15px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 11px;
  transform: rotate(140deg); }
.sandwich.active .sw-bottom {
  top: 8px;
  transform: rotate(-140deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_mnu ul,
  .top_mnu li {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .top_mnu ul {
    margin-top: 180px;
    text-align: center; }
    .top_mnu ul li:nth-child(1) a {
      -webkit-animation-duration: 0.5s;
      -moz-animation-duration: 0.5s;
      animation-duration: 0.5s; }
    .top_mnu ul li:nth-child(2) a {
      -webkit-animation-duration: 1s;
      -moz-animation-duration: 1s;
      animation-duration: 1s; }
    .top_mnu ul li:nth-child(3) a {
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      animation-duration: 1.5s; }
    .top_mnu ul li a {
      display: block;
      padding: 20px 0;
      text-transform: uppercase;
      font-size: 13px;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centred {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  .top_wrapper .top_text {
    display: inline-block; }
    .top_wrapper .top_text h1 {
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      padding: 10px 35px;
      color: #fff;
      border: 6px solid #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2.8em;
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-animation-delay: 0.8s;
      -moz-animation-delay: 0.8s;
      animation-delay: 0.8s; }
    .top_wrapper .top_text p {
      margin: 0;
      text-transform: uppercase;
      -webkit-animation-delay: 1.3s;
      -moz-animation-delay: 1.3s;
      animation-delay: 1.3s; }

.h_opacity {
  opacity: 0.3;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.main_footer {
  padding: 30px 0;
  font-size: 13px;
  font-weight: 300; }
  .main_footer .social_wrap {
    float: right;
    font-size: 10px;
    line-height: 0; }
    .main_footer .social_wrap ul {
      margin: 0; }
      .main_footer .social_wrap ul li {
        padding-top: 0; }

.person {
  text-align: center;
  margin-bottom: 35px; }
  .person img {
    max-width: 220px;
    border-radius: 50%; }

.s_about p {
  margin-bottom: 25px; }
.s_about ul,
.s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.s_about li {
  margin-bottom: 7px; }
.s_about .social_wrap {
  margin-top: 25px; }

.social_wrap li {
  display: inline-block;
  font-size: 20px;
  padding: 3px; }

.animation_left,
.animation_right {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s; }

.s_resume .left {
  text-align: right;
  border-right: 1px solid #d2d2d2; }
  .s_resume .left h3 {
    text-align: right; }
.s_resume .right {
  text-align: left; }
  .s_resume .right h3 {
    text-align: left; }
.s_resume h3 {
  margin-top: 16px;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 600; }
.s_resume .resume_icon {
  font-size: 35px;
  margin-bottom: 20px; }

.resume_item .year {
  display: inline-block;
  padding: 2px 10px;
  margin-bottom: 15px;
  font-weight: 600;
  font-style: italic; }

.resume_description {
  font-style: italic; }
  .resume_description strong {
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase; }

.resume_item {
  margin-bottom: 30px; }
  .resume_item p {
    margin-top: 10px;
    margin-bottom: 5px; }
    .resume_item p strong {
      font-weight: 600; }
  .resume_item:last-child {
    margin-bottom: 0; }
    .resume_item:last-child p {
      margin-bottom: 0; }

.left .resume_description strong {
  margin-left: 15px; }

.right .resume_description strong {
  margin-right: 15px; }

.s_portfolio ul,
.s_portfolio li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
.s_portfolio li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  line-height: 2; }
.s_portfolio ul {
  margin-bottom: 50px; }

.portfolio_item {
  display: none;
  padding: 0; }
  .portfolio_item img {
    width: 100%; }
  .portfolio_item .port_item_cont {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    transition: all 0.5s; }
    .portfolio_item .port_item_cont:hover {
      opacity: 1;
      padding-top: 20%; }
    .portfolio_item .port_item_cont h3 {
      color: #fff;
      margin-bottom: 0; }
    .portfolio_item .port_item_cont a {
      background-color: transparent;
      border: 1px solid;
      padding: 2px 10px;
      display: inline-block; }

.port_descr {
  max-width: 500px;
  background-color: #FFF;
  margin: auto;
  position: relative; }
  .port_descr p,
  .port_descr h3 {
    padding: 20px 20px 0; }
  .port_descr h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 25px; }
  .port_descr p {
    margin-top: 0; }
  .port_descr img {
    width: 100%;
    margin-top: 10px; }

/*# sourceMappingURL=main.css.map */
