*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}

.container{
	padding: 0 24px;
	max-width: 1100px;
	margin: 0 auto;
	min-width: 320px;
}

.fw { 
	display: -webkit-box; 
	display: -ms-flexbox; 
	display: flex; 
	-webkit-box-pack: justify; 
	-ms-flex-pack: justify; 
	justify-content: space-between; 
	-ms-flex-wrap: wrap; 
	flex-wrap: wrap; 
}

a {
	color: inherit;
	text-decoration: none;
}
.section{
	width: 100%;
    height: 100vh;
    position: relative;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.section__body--dark{
	background-color: rgba(0,0,0,.8);
}
.section-bg{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section__body{
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	height: 100%;
	position: relative;
}

/* header */
/* header */

.header{
	background-image: url(img/header_bg.jpg);
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.header__title-wrapper{
	text-align: center;
	color: #fff;
}

.header__title{
	font-family: 'Dancing Script', cursive;
	font-size: 5em;
	margin-bottom: 7px;
}
.header__subtitle{
	font-weight: normal;
	font-size: 1.4em;
}
/* header */
/* header */

/* technologies */
/* technologies */

.technologies__round{
	position: absolute;
	border: 1px solid #dadada;
	border-radius: 100%;
}
.technologies__round--first{
	width: 880px;
	height: 880px;
	top: calc(50% - 319px);
	left: calc(50% - 440px);
}
.technologies__round--second{
	width: 1020px;
	height: 1020px;
	top: calc(50% - 387px);
	left: calc(50% - 510px);
}
.technologies__round--third{
	width: 1230px;
	height: 1230px;
	top: calc(50% - 489px);
	left: calc(50% - 615px);
}
.technologies__item{
	position: absolute;
	z-index: 1;
	color: #fff;
	padding: 3px 10px;
	background-color: rgba(0,0,0,.4);
	border-radius: 3px;
}
.technologies__round--first .technologies__item:first-child{
	top: 23%;
    left: 38px;
}
.technologies__round--first .technologies__item:nth-child(2){
	top: 10%;
    right: 126px;
}
.technologies__round--first .technologies__item:nth-child(3){
	top: 30%;
    right: -18px;
}
.technologies__round--first .technologies__item:nth-child(4){
	top: 66%;
    left: -6px;
}
.technologies__round--first .technologies__item:nth-child(5){
	top: 50%;
    right: -31px;
}
.technologies__round--first .technologies__item:nth-child(6){
	top: 6%;
    left: 182px;
}
.technologies__round--first .technologies__item:nth-child(7){
	top: 48%;
    left: -35px;
}
.technologies__round--first .technologies__item:nth-child(8){
	top: 67%;
    right: 12px;
}
.technologies__round--second .technologies__item:first-child{
	top: 15%;
    left: 105px;
}
.technologies__round--second .technologies__item:nth-child(2){
	top: 22%;
    right: 30px;
}
.technologies__round--second .technologies__item:nth-child(3){
	top: 40%;
    right: -20px;
}
.technologies__round--second .technologies__item:nth-child(4){
	top: 56%;
    left: -43px;
}
.technologies__round--second .technologies__item:nth-child(5){
	top: 37%;
    left: -17px;
}
.technologies__round--second .technologies__item:nth-child(6){
	top: 57%;
    right: -40px;
}

.technologies__round--animated {
	animation: circeAnim 5s ease-in-out 0s;
}
.technologies__round--reveresed-animated {
	animation: circeAnimNegative 5s ease-in-out 0s;
}

@keyframes circeAnim{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes circeAnimNegative{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(-360deg);
	}
}

.pulse-animated{
    animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0%, 70% {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0);
  }
}

/* technologies */
/* technologies */

/* header */
/* header */

/* portfolio */
/* portfolio */

.portfolio{
	background-image: url(img/portfolio_bg.jpg);
}
.portfolio__wrapper{
	width: 100%;
}
.portfolio-slider{
	margin-bottom: 8px;
}
.portfolio-slider__item{
	/*width: 24%;*/
	height: 160px;
	/*margin-bottom: 10px;*/
}
.portfolio-slider__wrapper{
	padding: 10px 15px 12px;
	background-color: rgba(10,10,10,.5);
	position: relative;
}
.portfolio__title{
	color: #fff;
	font-size: 2.5em;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	margin-bottom: 10px;
}

.portfolio-slider__item{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	cursor: pointer;
}
.portfolio-slider__pagination{
	text-align: center;
	position: static;
}
.portfolio-slider__pagination .swiper-pagination-bullet{
	margin: 0 5px;
	background-color: #fff;
}
.portfolio-slider__item:nth-child(1){
	background-image: url(img/works/teploceramic.jpg);
}
.portfolio-slider__item:nth-child(2){
	background-image: url(img/works/smartone.jpg);
}
.portfolio-slider__item:nth-child(3){
	background-image: url(img/works/belka.jpg);
}
.portfolio-slider__item:nth-child(4){
	background-image: url(img/works/tinyu.jpg);
}
.portfolio-slider__item:nth-child(5){
	background-image: url(img/works/astralv.jpg);
}
.portfolio-slider__item:nth-child(6){
	background-image: url(img/works/securetalents.jpg);
}
.portfolio-slider__item:nth-child(7){
	background-image: url(img/works/guardknox.jpg);
}
.portfolio-slider__item:nth-child(8){
	background-image: url(img/works/katyatal.jpg);
}
.portfolio-slider__item:nth-child(9){
	background-image: url(img/works/polechudes.jpg);
}
.portfolio-slider__item:nth-child(10){
	background-image: url(img/works/booked.jpg);
}
.portfolio-slider__item:nth-child(11){
	background-image: url(img/works/hotelsjesolo.jpg);
}
.portfolio-slider__item:nth-child(12){
	background-image: url(img/works/koya.jpg);
}
.portfolio-slider__item:nth-child(13){
	background-image: url(img/works/parishotels.jpg);
}
.portfolio-slider__item:nth-child(14){
	background-image: url(img/works/edata.jpg);
}
.portfolio-slider__item:nth-child(15){
	background-image: url(img/works/koyaland.jpg);
}
.portfolio-slider__item:nth-child(16){
	background-image: url(img/works/kpicoop.jpg);
}
.portfolio-slider__item:nth-child(17){
	background-image: url(img/works/officetime.jpg);
}
.portfolio-slider__item:nth-child(18){
	background-image: url(img/works/simpleland.jpg);
}

.portfolio-item__name{
	position: absolute;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	padding: 10px;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(255,255,255,.7);
	color: #666;
	font-weight: bold;
	font-size: 18px;
	opacity: 0;
	z-index: -1;
	transition: .3s;
}
.portfolio-slider__item:hover .portfolio-item__name{
	z-index: 1;
	opacity: 1;
}
.portfolio-item__text{
	display: none;
}
.portfolio-item__link{
	font-weight: bold;
	text-decoration: underline;
}
.portfolio-item__technologies{
	display: none;
}


/* portfolio */
/* portfolio */

/* popup */
/* popup */

.popup{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.4);
	z-index: -1;
	opacity: 0;
	transition: .3s;
}

.popup.popup_visible{
	opacity: 1;
	z-index: 2;
}

.popup__content{
	max-width: 600px;
	height: auto;
	max-height: 90%;
	background-color: #fff;
	padding: 20px;
	z-index: 1;
}
.popup__title{
	font-size: 2em;
	font-family: 'Dancing Script', cursive;
	color: #333;
	text-align: center;
	margin-bottom: 10px;
}
.popup__text{
	font-size: 14px;
	margin-bottom: 10px;
}
.popup__technologies{
	font-size: 13px;
	color: #333;
	margin-bottom: 10px;
	font-weight: bold;
}
.popup__img{
	width: 100%;
}

.popup__content-wrap{
	align-items: center;
	justify-content: center;
	height: 100%;
}

.popup__close-wrap{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.popup__close-wrap:hover{
	cursor: pointer;
}

/* popup */
/* popup */

/* contact */
/* contact */

.contact{
	background-image: url(img/contact_bg.jpg);
}
.contact__body{
	padding-bottom: 50px;
	text-align: center;
}

.contact__title{
	font-family: 'Dancing Script', cursive;
	font-size: 4em;
	margin-bottom: 34px;
	text-align: center;
	color: #fff;
	display: inline-block;
	background-color: rgba(10,10,10,.7);
	padding: 5px 60px;
	border: 1px solid #fff;
	border-radius: 4px;
}
.inset-shadow{
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(252,252,252,1);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(252,252,252,1);
	box-shadow: inset 0px 0px 10px 0px rgba(252,252,252,1);
}
.contact__wrap{
	width: 100%;
}
.contact__form{
	width: 90%;
    max-width: 470px;
	margin: 0 auto;
}
.contact__text-input{
	height: 36px;
	padding: 0 18px;
	margin-bottom: 13px;

}
.contact__text-input,
.contact__textarea{
	border: 1px solid #fff;
	background: rgba(10,10,10,.7);
	color: #fff;
	display: block;
	width: 100%;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	outline: none;
	transition: .2s;
}
.contact__text-input:focus,
.contact__textarea:focus{
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(252,252,252,1);
	-moz-box-shadow: inset 0px 0px 10px 0px rgba(252,252,252,1);
	box-shadow: inset 0px 0px 10px 0px rgba(252,252,252,1);
}
.contact__textarea{
	resize: none;
	height: 188px;
	margin-bottom: 36px;
	padding: 16px 18px;
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
}

.contact__text-input::-webkit-input-placeholder {color:#fff;}
.contact__text-input::-moz-placeholder          {color:#fff;}
.contact__text-input:-moz-placeholder           {color:#fff;}
.contact__text-input:-ms-input-placeholder      {color:#fff;}

.contact__textarea::-webkit-input-placeholder {color:#fff;}
.contact__textarea::-moz-placeholder          {color:#fff;}
.contact__textarea:-moz-placeholder           {color:#fff;}
.contact__textarea:-ms-input-placeholder      {color:#fff;}

.contact__sumbmit-wrap{
	text-align: center;
}

.contact__submit {
    border: 1px solid #fff;
    background: rgba(10,10,10,.7);
    color: #fff;
    font-size: 14px;
	font-family: 'Raleway', sans-serif; 
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: .5s;
    height: 36px;
    padding: 0 30px;
}
.contact__submit:after {
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-right: 6px solid #fff;
    border-bottom: 6px solid #fff;
    bottom: 0px;
    right: 0px;
    transition: .5s;
    z-index: -1;
}
.contact__submit:hover{
	color: #000;
	font-weight: bold;
}
.contact__submit:hover:after {
    border: 200px solid transparent;
    border-right: 200px solid #fff;
    border-bottom: 200px solid #fff;
}

/* contact */
/* contact */


/* footer */
/* footer */
.footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(10,10,10,.9);
}
.footer__wrapper{
	-ms-align-items: center;
	align-items: center;
	height: 50px;
}
.footer__copyright-image{
	width: 18px;
	margin: 0 5px;
}
.footer__copyright{
	color: #fff;
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.footer__socials{
	-ms-align-items: flex-end;
	align-items: flex-end;
}
.footer-socials__item{
	width: 40px;
	height: 30px;
	margin-right: 10px;
}
.footer-socials__item:last-child{
	margin-right: 0;
}
.footer-socials__item-image{
	max-width: 100%;
	max-height: 100%;
}
.footer-socials__item:hover{
	transform: scale(1.1);
}
/* footer */
/* footer */