@font-face {
    font-family: 'droid_sans';
    src: url('../fonts/droidsans/reg/droidsans-webfont.eot');
    src: url('../fonts/droidsans/reg/droidsans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidsans/reg/droidsans-webfont.ttf') format('truetype'),
         url('../fonts/droidsans/reg/droidsans-webfont.svg#droid_sansregular') format('svg'),
         url('../fonts/droidsans/reg/droidsans-webfont-webfont.woff2') format('woff2'),
         url('../fonts/droidsans/reg/droidsans-webfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid-sans';
    src: url('../fonts/droidsans/bold/droidsans-bold-webfont.eot');
    src: url('../fonts/droidsans/bold/droidsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/droidsans/bold/droidsans-bold-webfont.woff') format('woff'),
         url('../fonts/droidsans/bold/droidsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/droidsans/bold/droidsans-bold-webfont.svg#droid_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "MyriadPro-Bold";
    src: url("../fonts/myriad/MyriadProBold.eot");
    src: url("../fonts/myriad/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/myriad/MyriadProBold.woff") format("woff"),
    url("../fonts/myriad/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}