body{
	margin: 0;
	font-family: 'droid_sans';
	font-size: 16px;
}

.container{
	max-width: 1280px;
  margin: 0 auto;
	overflow: hidden;
	padding: 0 3%;
	box-sizing: border-box;
}
.container_paddinged{
	padding-right: 30%;
}

.text_bold{
	font-weight: bold;
}
/*******   HEADER   *******/
.main-page-header{
	background-color: #333;
	padding: 15px 0 10px;
}
.header__logo{
	float: left;
}

/*******   MAIN BLOCK   *******/
.main-page-content__slider{
	position: relative;
}
.main-slider__list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 500px;
	background-color: #333;
}
.main-slider__item{
	width: 100%;
	height: 100%;
  align-items: center;
  background-color: #333;
  position: relative;
  display: none;
}
.main-slider__item_selected{
	display: flex;
}
.main-slider__item_bg{
	background-image: url(../img/list-bg.jpg);
	background-size: cover;
}

.main-slider__content{
	padding-left: 3%;
	padding-right: 43%;
	position: relative;
	max-width: 1280px;
	box-sizing: border-box;
  margin: 0 auto;
}

/********* SLIDER NAV *********/
.main-page-content__slider-navigation{
	background-color: #333;
	padding: 17px 0 15px;
}
.main-slider_navigation-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	font-size: 0;
}
.main-slider__nav-item{
	display: inline-block;
	margin-left: 32px;
}
.main-slider__nav-item:first-child{
	margin: 0;
}
.main-slider__nav-link{
	text-decoration: none;
	color: #fff;
	font-size: 1.1rem;
	display: block;
	padding: 0 3px;
}
.main-slider__nav-link_selected{
	border-bottom: 1px solid #fff;
}
/*******   FIRST SLIDER CONTENT   *******/


.mAbout-slide__header,
.mWhyKoya-slide__header,
.mHowWork-slide__header{
	background-color: #c6c1c1;
	width: 200px;
	position: absolute;
	border-radius: 4px;
	transform: rotate(-90deg);
	left: -1%;
	top: 47%;
	z-index: 100;
}

.mAbout-slide__item,
.mWhyKoya-slideHead__item,
.mHowWork-slideHead__item{
	float: left;
	width: 50%;
	display: block;
	padding: 7px 0;
	text-align: center;
	border-radius: 4px;
	color: #6f7171;
	text-decoration: none;
	font-weight: bold;
	font-size: .9em;
}
.mAbout-slide__item_selected,
.mWhyKoya-slideHead__item_selected,
.mHowWork-slideHead__item_selected{
	background-color: #f4efeb;
	color: #434443;
}
.mAbout-slide__content{
	padding-left: 80px;
	display: none;
}
.mAbout-slide__content_selected{
	display: block;
}


.mAbout-slide__paragraph{
	color: #fdfdff;
	font-size: 1.2em;
	border-left: 2px solid #ebebeb;
	padding: 15px 0 15px 20px;
}

/******* SECOND SLIDE *******/
.mServices__content{
	padding-left: 3%;
	padding-right: 465px;
	position: relative;
	width: 1280px;
	box-sizing: border-box;
  margin: 0 auto;
}

.mServices-head{
	overflow: hidden;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.mServices-head__item{
	height: 150px;
	width: 200px;
	float: left;
	display: flex;
  align-items: center;
	justify-content: center;
}

.mServices-content{
	overflow: hidden;
}

.mServices-content__column{
	width: 300px;
}
.mServices-content__column_left{
	float: left;
}
.mServices-content__column_right{
	float: right;
}

.mServices-techno__list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 1.1em;
	margin-bottom: 15px;
}

.mServices-techno__title{
	color: #fff;
}

.mServices-techno__item{
	color: #999;
}


/******** THIRD SLIDE ***********/
.mProjects-slide__content{
	padding-left: 3%;
	padding-right: 465px;
	position: relative;
	max-width: 1280px;	
	box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}
.wrap-forSlider{
}
.mProjects-slide__slider{
	margin: 0;
	padding: 0;
	padding-bottom: 50px;
	width: 810px;
	height: 430px;
	margin-top: 30px;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	position: relative;
}

.mProjects-slider__item{
	display: inline-block;
	width: 250px;
	background-color: #464646;
}

.mProjects-item__content{
	box-sizing: border-box;
	padding: 25px;
}

.mProjects-slider__item:nth-child(odd) .mProjects-item__content{
	height: 200px;
}

.mProjects-slider__item:nth-child(even) .mProjects-item__content{
	height: 230px;
}

.mProjects-item__img{
	box-sizing: border-box;
	padding: 20px;
	background-color: #555;
	display: block;
	position: relative;
	transition: padding .2s cubic-bezier(.17,.67,.83,.67);
}

.mProjects-item__img img{
	width: 100%;
	height: 100%;
}

.mProjects-slider__item:nth-child(odd) .mProjects-item__img{
	height: 230px;
}

.mProjects-slider__item:nth-child(even) .mProjects-item__img{
	height: 200px;
}

.mProjects-item__title{
	display: block;
	font-weight: bold;
	width: 100%;
	font-size: 1.1em;
	color: #ccc;
	text-decoration: none;
	border-bottom: 1px solid #b7b7b7;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

.mProjects-item__text{
	margin: 0;
	color: #8b8b8b;
	font-size: 1em;
}

.mProjects-item__img:hover{
	padding: 0;
}

/********** FEEDBACKS **********/
.mFeedbacks-slide__content{
	padding-left: 3%;
	padding-right: 440px;
	position: relative;
	max-width: 1280px;
	overflow: hidden;
	box-sizing: border-box;
  margin: 0 auto;
}

/*.mFeedbacks-slide__slider{
	margin: 0;
	padding: 30px 0 35px;
	list-style-type: none;
	position: relative;
}

.mFeedbacks-slider__item{
	display: inline-block;
	width: 241px !important;
	height: 425px;
	background-color: #464646;
	padding: 25px 13px;
	box-sizing: border-box;
	text-align: center;
	opacity: .5;
}

.swiper-slide-active.mFeedbacks-slider__item{
	width: 271px !important;
	height: 436px;
	margin-top: -26px;
	opacity: 1;
	padding: 30px 13px;
	transition: margin .2s ease;
}*/
.mFeedbacks-slide__slider{
	list-style-type: none;
	padding: 30px 0 35px;
	height: 425px;
}

.mFeedbacks-slider__item{
	height: 425px;
	background-color: #464646;
	padding: 25px 13px;
	box-sizing: border-box;
	text-align: center;
	opacity: .5;
	margin: 0;
}

.swiper-slide-active.mFeedbacks-slider__item{
	height: 436px;
	margin-top: -26px;
	/*padding: 30px 13px;*/
	transition: margin-top .5s ease-out;
	opacity: 1;
}

.mFeedbacks-item__img{
	width: 156px;
	height: 163px;
	border-radius: 100%;
	margin: 0 auto;
	display: block;
	margin-bottom: 18px;
}

.mFeedbacks-item__title{
	margin: 0;
	font-weight: bold;
	font-size: 1.5em;
	color: #ccc;
	margin-bottom: 25px;
}

.mFeedbacks-item__text{
	margin: 0;
	color: #ccc;
	font-weight: bold;
	font-size: 1.1em;
}
/********* HOW IT WORK *********/
.mHowWork-slide__content{
	padding-left: 3%;
	padding-right: 390px;
	position: relative;
	width: 1280px;
	box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.mHowWork-slide__item{
	position: relative;
	display: none;
}
.mHowWork-item_width-fix{
	width: 100%;
	text-align: center;
}
.mHowWork-slide__item_selected{
	display: inline-block;
}
.mHowWork-item__line_vertical{
	padding-bottom: 10px;
}

.mHowWork-item__line_blue{
	height: 445px;
	width: 1px;
	background-color: #336699;
	position: relative;
}

.mHowWork-item__content-item{
	position: absolute;
}

.mHowWork-content-item__round{
	width: 36px;
	height: 36px;
	background-color: #336699;
	border-radius: 100%;
	color: #ccc;
	font-weight: bold;
	font-size: 1.375em;
	text-align: center;
	line-height: 36px;
}

.mHowWork-content-item_five-vertical{
	top: 0;
	left: -18px;
}
.mHowWork-content-item_four-vertical{
	top: 100px;
	left: -18px;
}

.mHowWork-content-item_three-vertical{
	top: 205px;
	left: -18px;
}

.mHowWork-content-item_two-vertical{
	top: 320px;
	left: -18px;
}

.mHowWork-content-item_one-vertical{
	top: 419px;
	left: -18px;
}

.mHowWork-content-item_five-vertical .mHowWork-content-item__text{
	top: -4px;
	left: 56px;
	width: 133px;
	text-align: left;
}
.mHowWork-content-item_four-vertical .mHowWork-content-item__text{
	top: -3px;
	left: -231px;
	width: 211px;
	text-align: right;
}

.mHowWork-content-item_three-vertical .mHowWork-content-item__text{
	top: 6px;
	left: 56px;
	width: 207px;
	text-align: left;
}

.mHowWork-content-item_two-vertical .mHowWork-content-item__text{
	top: 7px;
	left: -167px;
	width: 143px;
	text-align: right;
}

.mHowWork-content-item_one-vertical .mHowWork-content-item__text{
	top: -4px;
	left: 56px;
	width: 220px;
	text-align: left;
}

/****svg ****/
.mHowWork-content-item_five-vertical svg{
	top: 0;
	left: -68px;
}
.mHowWork-content-item_four-vertical svg{
	top: -6px;
	left: 57px;
}

.mHowWork-content-item_three-vertical svg{
	top: 0;
	left: -68px;
}

.mHowWork-content-item_two-vertical svg{
	top: -4px;
	left: 57px;
}

.mHowWork-content-item_one-vertical svg{
	top: -2px;
	left: -64px;
}


.mHowWork-item__line_horizontal{
	height: 1px;
	width: 67%;
	display: inline-block;
}

.mHowWork-content-item_seven-horizontal{
	left: calc(100% - 18px);
	top: -18px;
}

.mHowWork-content-item_six-horizontal{
	left: calc(83.33% - 18px);
	top: -18px;
}

.mHowWork-content-item_five-horizontal{
	left: calc(66.66% - 18px);
	top: -18px;
}

.mHowWork-content-item_four-horizontal{
	left: calc(50% - 18px);
	top: -18px;
}

.mHowWork-content-item_three-horizontal{
	left: calc(33.33% - 18px);
	top: -18px;
}

.mHowWork-content-item_two-horizontal{
	left: calc(16.66% - 18px);
	top: -18px;
}

.mHowWork-content-item_one-horizontal{
	left: 0;
	top: -18px;
}

.mHowWork-content-item__text{
	position: absolute;
	margin: 0;
	color: #c2c2c2;
	font-size: 1.1em;
}

.mHowWork-item__content-item svg{
	position: absolute;
}

.mHowWork-content-item_seven-horizontal .mHowWork-content-item__text{
	left: -49px;
	top: 60px;
	width: 130px;
}

.mHowWork-content-item_six-horizontal .mHowWork-content-item__text{
	left: -47px;
	top: -66px;
	width: 130px;
}

.mHowWork-content-item_five-horizontal .mHowWork-content-item__text{
	left: -61px;
	top: 60px;
	width: 158px;
}

.mHowWork-content-item_four-horizontal .mHowWork-content-item__text{
	left: -55px;
	top: -66px;
	width: 155px;
}

.mHowWork-content-item_three-horizontal .mHowWork-content-item__text{
	left: -64px;
	top: 60px;
	width: 160px;
}

.mHowWork-content-item_two-horizontal .mHowWork-content-item__text{
	left: -38px;
	top: -53px;
	width: 120px;
}

.mHowWork-content-item_one-horizontal .mHowWork-content-item__text{
	left: -48px;
	top: 60px;
	width: 130px;
}
/*********** WHY KOYA SLIDE *************/
.mWhyKoya-slide__content{
	padding-left: 3%;
	padding-right: 405px;
	position: relative;
	width: 1280px;
	box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}
.mWhyKoya-slide__item{
	position: relative;
	display: none;
}
.mWhyKoya-slide__item_selected{
	display: inline-block;
}
.mWhyKoya-slide__item_bottom{
	padding-bottom: 160px;
}
.mWhyKoya-item__customer-roundWrapper{
 	height:145px;
	overflow:hidden;
	margin-bottom: 53px;
}

.mWhyKoya-item__customer-round {
	width: 350px;
	height: 350px;
	background-color: #ccc;
	border-radius: 100%;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
	padding: 55px 80px 0;
	box-sizing: border-box;
	font-size: 1.5em;
	color: #666;
}

.mWhyKoya-item__customer-roundWrapper_small{
 	height:70px;
	overflow:hidden;
	display: block;
}

.mWhyKoya-item__customer-round_small{
	margin: 0 auto;
	margin-top: -68px;
	width: 136px;
	height: 136px;
	background-color: #3366cc;
	border-radius: 100%;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
	font-size: 1.5em;
	color: #fff;
	padding-top: 79px;
}

.mWhyKoya-item__svgWrapper{
	position: absolute;
}

.cust-team__item{
	top: 180px;
	left: -5px;
}

.cust-approach__item{
	top: 274px;
	left: 35px;
}

.cust-quality__item{
	top: 320px;
	left: 147px;
}

.cust-support__item{
	top: 274px;
	left: 258px;
}

.cust-cdProbl__item{
	top: 180px;
	left: 304px;
}

.mWhyKoya-item__svgWrapper p{
	position: absolute;
	font-size: 1.1em;
	color: #ccc;
}

.cust-team__item p{
	width: 145px;
	left: -170px;
	top: -27px;
	text-align: right;
}

.cust-approach__item p{
	text-align: right;
	width: 154px;
	left: -178px;
	top: -12px;
}

.cust-quality__item p{
	text-align: center;
	width: 143px;
	top: 45px;
	left: -44px;
}

.cust-support__item p{
	width: 170px;
	text-align: left;
	top: 0;
	left: 77px;
}

.cust-cdProbl__item p{
	width: 180px;
	text-align: left;
	top: -25px;
	left: 75px;
}

/************** Second of last block ************/
.mWhyKoya-slide__item_top{
	padding-top: 130px;
}
.mWhyKoya-item__dev-roundWrapper{
 	height:145px;
	overflow:hidden;
}

.mWhyKoya-item__dev-round {
	width: 350px;
	height: 350px;
	background-color: #ccc;
	border-radius: 100%;
	margin: 0 auto;
	font-weight: bold;
	text-align: center;
	padding: 240px 80px 0;
	box-sizing: border-box;
	font-size: 1.5em;
	color: #666;
	margin-top: -211px;
}

.mWhyKoya-item__dev-roundWrapper_small{
 	height:70px;
	overflow:hidden;
	display: block;
	margin-bottom: 53px;
}

.mWhyKoya-item__dev-round_small{
	margin: 0 auto;
	width: 136px;
	height: 136px;
	background-color: #3366cc;
	border-radius: 100%;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
	font-size: 1.5em;
	color: #fff;
	padding-top: 25px;
}

.mWhyKoya-item__svgWrapper{
	position: absolute;
}

.dev-team__item{
	top: 163px;
	left: -5px;
}

.dev-graphic__item{
	top: 64px;
	left: 35px;
}

.dev-growth__item{
	top: 18px;
	left: 148px;
}

.dev-proj__item{
	top: 64px;
	left: 258px;
}

.dev-cdProbl__item{
	top: 163px;
	left: 304px;
}

.mWhyKoya-item__svgWrapper p{
	position: absolute;
	font-size: 1.1em;
	color: #ccc;
}

.dev-team__item p{
	width: 155px;
	left: -179px;
	top: 0;
	text-align: right;
}

.dev-graphic__item p{
	text-align: right;
	width: 143px;
	left: -170px;
	top: 0;
}

.dev-growth__item p{
	text-align: center;
	width: 110px;
	top: -79px;
	left: -28px;
}

.dev-proj__item p{
	width: 143px;
	text-align: left;
	top: -14px;
	left: 80px;
}

.dev-cdProbl__item p{
	width: 180px;
	text-align: left;
	top: -25px;
	left: 77px;
}

/*******   VAlIDATION FORM   *******/
.mRegister__message{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(111,113,113,.7);
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

.mRegister-message__box{
	border-radius: 3px;
	padding: 5px;
	background-color: #dfdfdf;
	text-align: center;
}

.mRegister-message__content{
	width: 400px;
	border-radius: 3px;
	padding: 30px 0 40px;
	border: 1px solid #b7b7b7;
	color: #333;
}
.mRegister-message3__title{
	margin: 0;
	font-size: 1.15em;
	font-weight: bold;
	margin-bottom: 10px;
}
.mRegister-message__text{
	margin: 0;
	font-size: 1.1em;
}
.validation-block{
	width: 370px;
	background-color: #ccc;
	border-radius: 5px;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 40px;
	height: 500px;
}

.validation-block__header{
	background-color: #999;
	overflow: hidden;
}

.validation-block__item{
	width: 50%;
	text-align: center;
	float: left;
	text-decoration: none;
	font-weight: bold;
	background-color: #999;
	color: #575555;
	font-size: 1.4em;
	padding: 5px 0 5px;
	border-radius: 5px 5px 0 0;
}

.validation-block__item_selected{
	background-color: #ccc;
	color: #434443;
}

.validation-block__content{
	display: none;
	padding: 40px 20px 30px;
	font-size: 1.25em;
  color: #818789;
}

.validation-block__content_selected{
	display: block;
}

.validation-form__input_text{
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 8px 15px;
	font-size: 1em;
	border-radius: 5px;
	height: 45px;
	border: 1px solid #c4c2c2;
	color: #818789;
	margin-bottom: 30px;
	font-family: 'droid_sans';
}

.validation-form__input_text:focus{
	border: 2px solid #929292;
	outline: none;
}
.validation-form__checkboxes{
	margin-bottom: 25px;
}

.validation-form__checkboxes input {
  vertical-align: top;
  margin: 0 10px 0 0;
  width: 17px;
  height: 17px;
}

.validation-form__checkboxes input + label {
  cursor: pointer;
}


/* Прячем оригинальный чекбокс. */
.validation-form__checkboxes input:not(checked) {
  position: absolute;
  opacity: 0;
}
.validation-form__checkboxes input:not(checked) + label {
  position: relative; /* будем позиционировать псевдочекбокс относительно label */
  padding: 0 0 0 30px; /* оставляем слева от label место под псевдочекбокс */
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.validation-form__checkboxes input:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #969696;
  transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}

/* Меняем фон чекбокса, когда он включен. */
.validation-form__checkboxes input:checked + label:before {
  background: #3366cc;
}

.label_margined{
	margin-right: 35px;
}

.validation-form__input_submit{
	font-family: 'droid_sans';
	font-weight: bold;
	color: #fff;
	font-size: 1.4rem;
	padding: 6px 20px 7px;
	border: none;
	border-radius: 7px;
	background-color: #267ec8;
	cursor: pointer;
	letter-spacing: 1px;
	display: inline-block;
	vertical-align: middle;
}
.validation-form__input_submit + span{
	display: inline-block;
	margin: 0 23px;
	vertical-align: middle;
}
.validation-form__facebook-log{
	display: inline-block;
	vertical-align: middle;
}

.facebook-login__svg{
	width: 38px;
	height: 38px;
}
.facebook-login__svg path{
	fill: #918e89;
}

.password-link{
	margin-top: 30px;
	display: block;
	color: #726c6c;
	font-size: 0.9em;
}
/*******   FOOTER   *******/
.footer{
	background-color: #ccc;
	text-align: center;
	padding: 30px 0 20px;
}

.footer__column_left{
	text-align: left;
	float: left;
}

.footer__column_right{
	text-align: left;
	float: right;
}

.footer__nav{
	display: inline-block;
	vertical-align: top;
}

.footer-nav:first-child{
	margin-right: 90px;
}

.footer-nav__list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 1em;
}

.footer-nav__item:not(.footer-nav__item_bold){
	margin-bottom: 3px;
}

.footer-nav__item_bold{
	font-weight: bold;
	margin-bottom: 10px;
}

.footer-nav__link{
	color: #545151;
	text-decoration: none;
}

.footer__column_center{
	display: inline-block;
	text-align: center;
	padding-top: 15px;
	color: #545151;
	font-size: 1.1em;
}

.footer__nav_center:first-child{
	margin: 0 0 10px;
}

.footer__icons-list{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.social-icons__item{
	display: inline-block;
	margin-left: 5px;
	vertical-align: middle;
}

.social-icons__item:first-child{
	margin: 0;
}

.social-icons__svg{
	width: 30px;
	height: 30px;
}