#board{
	width: 530px;
	height: 530px;
	background: url(../img/board.png);
	padding: 25px;
	box-sizing: border-box;
}

.myField{
	width: 100%;
	height: 100%;
}
.myField td{
	height: 58px;
	width: 58px;
	box-sizing: border-box;
}

.myField td img{
	width: 45px;
	margin: 0 auto;
	display: block;
}
.selected{
	border: 3px solid #37C7B0;
}

