table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	text-align: center;
	border-collapse: separate;
	border-spacing: 3px;
	background: #ECE9E0;
	color: #656665;
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px 10px;
}
img{
	display: inline-block;
	vertical-align: middle;
	display: none;
}
th {
	font-size: 18px;
	padding: 10px;
}
td {
	background: #F5D7BF;
	padding: 10px;
}
#resultTable{
	display: none;
}
#resultTable td{
	display: none;
}

caption{
	font-size: 20px;
	padding-top: 5px;
}
.my-button{
	margin-top: 20px;
	margin-left: 140px;
	display: block;
	background-color: #2996D5;
	color: #fff;
	font-size: 18px;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;
}