body{
	background: #333;
	display: flex;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	align-items: center;
	justify-content: center;
}
.wrapper{
	width: 511px;
	height: 204px;
	position: relative;
}
.logo{
	position: absolute;
	width: 246px;
	height: 204px;
	top: 0;
	left: 0;
	background-image: url(logo-logo.png);
	animation: circeAnim2 3s ease-in-out 0s infinite;
}
.text{
	position: absolute;
	width: 252px;
	height: 204px;
	top: 0;
	right: 0;
	background-image: url(logo-text.png);
}
.circle{
	position: absolute;
	background-image: url(logo-circle.png);
	width: 100px;
	height: 100px;
	top: 78px;
    left: 133px;
	animation: circeAnim 3s ease-in-out 0s infinite;
}

@keyframes circeAnim{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
@keyframes circeAnim2{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(-360deg);
	}
}