*{
	margin: 0;
	padding: 0;
}
body{
	background: #f6f9f9;
}
.portfolio{
	font-family: 'Lato';
	max-width: 1170px;
	margin: 0 auto;
	padding-top: 50px;
}
.header{
	font-size: 41px;
	text-align: center;
	margin-bottom: 20px;
	color: #2d3950;
	font-weight: normal;
}
.header-signature{
	font-size: 15px;
	margin-bottom: 60px;
	text-align: center;
	color: #909090;
	font-weight: normal;
}
.photos{
	white-space: normal;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	font-size: 0;
}
.one-image{
	display: inline-block;
	padding: 15px;
}
.image{
	display: inline-block;
	position: relative;
}

.buttons{
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	display: inline-block;
	box-sizing: border-box;
	background: rgba(58,173,245,0.7);
	vertical-align: middle;
	visibility: hidden;
}
.buttons a{
	vertical-align: top;
	display: inline-block;
	height: 41px;
	width: 41px;
	border: 1px solid #fff;
	border-radius: 1px;
	margin: 9px;
	box-sizing: border-box;
	padding-top: 13px;
	padding-left: 2px;
	margin-top: 110px;
	text-align: center;
}
.image:hover .buttons{
	visibility: visible;
}

.buttons a:hover{
	background: rgb(58,173,245); 
}

.modal-window-image{
	visibility: hidden;
	background-color: rgba(255,255,255,.9);
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
}
.modal-image{
	position: relative;
	max-width: 1140px;
	min-width: 360px;
	margin: 0 auto;
	height: 550px;
	background-image: url(1big.jpg);
	background-position: center;
	margin-top: 212px;
	border: 2px solid #999999;
	border-radius: 2px;
}
.close-icon{
	display: block;
	position: absolute;
	top: -22px;
	right: 17px;
	height: 40px;
	width: 40px;
	padding-top: 12px;
	background: #25a6f7;
	text-align: center;
	box-sizing: border-box;
}
.close-icon:hover{
	background: #f74c26;
}

.active-modal{
	visibility: visible;
}

