body{
	margin: 0;
}
.services{
	background-image: url(../img/bg.jpg);
	padding: 30px 0 30px;
	background-size: cover;
}
.services__container{
	width: 1000px;
	margin: 0 auto;
}
.services__title{
	margin: 0;
	font-size: 27px;
	font-family: 'open_sanscondensed_light';
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 10px;
}
.services__content{
	border-top: 1px dashed #f0b267;
	padding-top: 25px;
}

.services__content:after {
content: "";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.services__content__item{
	float: left;
	width: 25%;
}

.services-item__title{
	margin: 0 0 10px;
	color: #000;
	font-family: 'open_sanscondensed_light';
	font-size: 18px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
	text-transform: uppercase;
	display: inline-block;
}

.services-item__img{
	background: url(../img/sprites.png) no-repeat;
	height: 190px;
	margin-left: -15px;
}

.inteligy-img{
	background-position: -5px 0;
	width: 200px;
}

.media-img{
	background-position: -205px 0;
	width: 230px;
}

.conf-img{
	background-position: -443px 0;
	width: 204px;
}

.prod-img{
	background-position: -667px 0;
	width: 261px;
}

.services-item__list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'lucida_sans_unicoderegular';
	font-size: 12px;
	color: #fff;
	min-height: 100px;
	margin-bottom: 15px;
}
.list__item{
	padding-left: 17px;
	position: relative;
}
.list__item:before{
	content: '>>';
	font-size: 6px;
	font-weight: bold;	
	position: absolute;
	top: 4px;
	left: 0;
}

.services-item__button{
	position: relative;
	display: block;
	text-decoration: none;
}
.services-item__button img{
	border: none;
}
.services-item__button:after{
	content: 'view detail';
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	font-size: 14px;
	top: 10px;
	left: 28px;
	font-family: 'lucida_sans_unicoderegular';
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.services-item__button:hover:after{
	color: #999;
}