body{
	font-family: Trebuchet MS;
}
.price-head{
	margin-top: 57px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	line-height: 30px;
	color: #41525c;
	margin-bottom: 57px;

}

.offers{
	padding-top: 17px;
	width: 874px;
	margin: 0 auto;
}

.offer-block{
	font-family: Trebuchet MS;
	background: #fff;
	width: 289px;
	border-radius: 5px;
	border: 1px solid #e8eaec;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#standart{
	float:left;
	border-right: none;	
}
#best-value{
	float: left;
	border-right: none;
}
#ultimate{
	float: left;
}

.offer-head{
	position: relative;
	margin-top:0;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	text-align: center; 
	line-height: 27px;
	padding: 22px 0 14px;
	margin-bottom: 19px;
}
#standart .offer-head{
	background: #37c2d3;
}
#best-value .offer-head{
	background: #ee8129;
	
}
#ultimate .offer-head{
	background: #1cb79a;
}
.text{
	margin-top:0;
	color: #3f4042;
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 14.5px;
}

.price{
	margin-top:0;
	font-size: 72px;
	line-height: 72px;
	color: #35495a;
	font-weight: bold;
	margin-left: 81px;
	position: relative;
	margin-bottom: 21px;
}

.price:before{
	position: absolute;
	content: "$";
	font-size: 25px;
	left: -14px;
	top: -20px;
}
.price:after{
	content:"Monthly";
	font-weight: normal;
	position: absolute;
	font-size: 18px;
	bottom: -20px;
}

ul{
	width: 259px;
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

li{
	width: 100%;
	height: 33px;
	padding-left: 63px;
	font-size: 15px;
	line-height: 33px;
	color: #888c94;
	background: #edf5fd;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 2px;
    position: relative;
}
li:nth-child(even){
	background: #f5f5f6;
}

li:before{
	content: url(1.png);
	position: absolute;
	left: 33px;
}
li:last-child{
	margin-bottom: 18px;
}

button{
	display: block;
	font-family: Trebuchet MS;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	margin: 0 auto 20px;
	width: 252px;
	height: 41px;
	border: none;
	border-bottom: 2px solid;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#standart button{
	border-color: #008B8B;
	background: #37c2d3;
}

#best-value button{
	border-color: #b3560b;
	background: #ee8129;
}

#ultimate button{
	border-color: #008080;
	background: #1cb79a;
}

button:active{
	border: none;
}

.offers::after{
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

#best-value:hover{
	position: relative;
	z-index: 200;
	margin-top: -17px;
	border: 4px solid #ee8129;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.25);
	   -moz-box-shadow: 0 0 15px rgba(0,0,0,.25);
	        box-shadow: 0 0 15px rgba(0,0,0,.25);
}

#best-value:hover .offer-head{
	padding: 28px 0 21px;
}
#best-value:hover button{
	margin-bottom: 30px;
}

#best-value:hover .price{
	margin-left: 78px;
}


#standart:hover{
	position: relative;
	z-index: 200;
	margin-top: -17px;
	border: 4px solid #37c2d3;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.25);
	   -moz-box-shadow: 0 0 15px rgba(0,0,0,.25);
	        box-shadow: 0 0 15px rgba(0,0,0,.25);
}

#standart:hover .offer-head{
	padding: 28px 0 21px;
}
#standart:hover button{
	margin-bottom: 30px;
}


#standart:hover .price{
	margin-left: 78px;
}

#ultimate:hover{
	position: relative;
	z-index: 200;
	margin-top: -17px;
	border: 4px solid #1cb79a;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,.25);
	   -moz-box-shadow: 0 0 15px rgba(0,0,0,.25);
	        box-shadow: 0 0 15px rgba(0,0,0,.25);
}

#ultimate:hover .offer-head{
	padding: 28px 0 21px;
}
#ultimate:hover button{
	margin-bottom: 30px;
}

#ultimate:hover .price{
	margin-left: 78px;
}